@font-face {
font-family: "Calibre-Black";
src: url(fonts/fonts/Calibre-Black.otf) format("opentype");
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: "Calibre-Italic";
src: url(fonts/fonts/Calibre-BlackItalic.otf) format("opentype");
font-weight: 500;
font-style: italic;
}
@font-face{
    font-family: "Calibre-Bold";
    src: url(fonts/fonts/Calibre-Bold.otf) format("opentype");
    font-weight: 700;
    font-style: bold;
}
@font-face{
    font-family: "Calibre-Bold-Italic";
src: url(fonts/fonts/Calibre-BoldItalic.otf) format("opentype");
font-weight: 700;
font-style: italic;
}
@font-face{
    font-family: "Calibre-Light";
src: url(fonts/fonts/Calibre-Light.otf) format("opentype");
font-weight: 300;
font-style: normal;
}
@font-face{
    font-family: "Calibre-Light-Ltalic";
src: url(fonts/fonts/Calibre-LightItalic.otf) format("opentype");
font-weight: 300;
font-style: italic;
}
@font-face{
    font-family: "Calibre-Medium";
src: url(fonts/fonts/Calibre-Medium.otf) format("opentype");
font-weight: 600;
font-style: normal;
}
@font-face{
    font-family: "Calibre-Medium-Italic";
src: url(fonts/fonts/Calibre-MediumItalic.otf) format("opentype");
font-weight: 600;
font-style: italic;
}
@font-face{
    font-family: "Calibre-Regular";
src: url(fonts/fonts/Calibre-Regular.otf) format("opentype");
font-weight: 400;
font-style: normal;
}
@font-face{
    font-family: "Calibre-Regular-Italic";
src: url(fonts/fonts/Calibre-RegularItalic.otf) format("opentype");
font-weight: 400;
font-style: italic;
}
@font-face{
    font-family: "Calibre-Semibold";
src: url(fonts/fonts/Calibre-Semibold.otf) format("opentype");
font-weight: 400;
font-style: bold;
}
@font-face{
font-family: "Calibre-Semibold-Italic";
src: url(fonts/fonts/Calibre-SemiboldItalic.otf) format("opentype");
font-weight: 400;
  font-style: italic;
  font-style: bold;
}

body{
    margin: 0;
    font-family: "calibre";
    color: #799DAB;
    width: 100%;
    
}
.navbar{
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #C7EAF8;
}
.logo{
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4px;
}

.quote{
    width: 50px;
    height: 50px;
}
.px130{
    font-size: 120px;
}
.px100{
    font-size: 100px;
}
.px80{
    font-size: 80px;
}
.px30{
    font-size: 30px;
}
.px40{
    font-size: 40px;
}
.px24{
    font-size: 24px;
}
.textleftside{
    padding: 6rem;
    line-height: 100px;
}
.language{
    width: 50px;
    height: 50px;
}
.welcometext{
    background-color: #C7EAF8;
    display: flex;
    align-content: space-between;
    justify-content: flex-start;
}

.card{
    background-color: white;
    display: flex;
    align-content:center;
    justify-content: center;
}
.navbar a{
    float: inline-end;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 10px 30px;
    color: #799DAB;
    font-size: 30px;
    text-decoration: none;
}
.photo{
    width: 75px;
    height: 75px;
}
.company{
    width: 30px;
    height: 30px;
}
.flag{
    width: 60px;
    height: 40px;
}
.welcomeblue{
    background-color: #C7EAF8;
}

.globalreach{
    width: 300px;
    height: auto;
}

.white{
    color: white;
}











































































* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
}

@font-face {
    font-family: "Calibre-Regular";
    src: url(fonts/Calibre-Regular.ttf);
}

@font-face {
    font-family: "Calibre-Bold";
    src: url(fonts/Calibre-Bold.otf);
}

.content {
  color: #799dab;
}



/* section : values */

.values-section {
    display: flex;
    overflow: hidden; /* prevent scrollbars */
    max-width: 100%;
    min-height: 100vh;
    padding-top: 70px;
}

.values-section-left {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-top: 20px;
}

.values-section-left h1 {
    font-size: 5rem;
    font-family: "Calibre-Bold";
    color: #c7eaf8;
}

.values-section-right {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
}

.values-section-right img {
    width: 680px;
    height: auto;
}


/* section : executive team */

.team-section {
    max-width: 100%;
    min-height: 100vh;
    background: linear-gradient(#C7eaf8 50%, white 50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    gap: 20px;
}

.team-section h1 {
    font-family: "Calibre-Bold";
    font-size: 5rem;
    color: white;
    margin-bottom: 20px;
}

.team-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    max-width: 1080px;
}

.team-member {
    text-align: center;
    width: 200px;
    margin-bottom: 50px;
}

.team-member img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 30px;
    margin-bottom: 5px;
}

.team-member h2 {
    font-family: "Calibre-Bold";
    font-size: 1.25rem;
    margin-top: 40px;
    color: #799dab;
}

.team-member p {
    font-family: "Calibre-Regular";
    font-size: 1.125rem;
    line-height: 2;
    color: #799dab;
}

.team-button {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 6px 20px;
    font-size: 0.875rem;
    border: 1px solid #799dab;
    background: transparent;
    color: #799dab;
    border-radius: 50px;
    cursor: pointer;
}

.team-button:hover {
    background-color: #799dab;
    color: white;
}

/* Global reach page*/

.GlobalReachBox {
font-family: "Calibre-Black";
background-color: #C7EAF8;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
padding-top: 9vw;

}

.whitetext
{
    color: white;
    font-family: "Calibre-Black";
    font-weight: 700;
    font-size: 5vw;
    letter-spacing: -0,5vw;
}

.bluegrey
{
    color: #799DAB;
    font-family: "Calibre-Regular";
    font-size: 1.8vw;
    letter-spacing: -0,2vw;
    margin-top: 1.5vh;
    margin-bottom: -0,5vh;
}

.worldmap
{
    width: 80vw;
}

.whitebox
{
    background-color: #fff;
    width: 100vw;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(3,1fr);
}

.projects-text 
{
    grid-area: 2/1/3/3;
}

.projects-text > h1
{
    font-family: "Calibre-Bold" ;
    font-weight: 700;
    font-style: bold;
    font-size: 2.5vw;
}

.projects
{
    font-size: 1.5vw;
    
}

.small-projects-text 
{
    font-family: "Calibre-Light";
    font-size: 1vw;
    margin-left: -4.8vw;
}

    .vertical-line
    {
        background-color: #799DAB;
        width: 1px;
        height: 3.5vh;
        grid-column: 3;
        grid-row: 2;
        margin-top: 1vh;
        margin-left: -2vw;
    }

.brands-text 
{
  grid-area: 2/3/3/5;
  margin-left: -8vw;
}

.brands-text > h1
{
    font-family: "Calibre-Bold" ;
    font-weight: 700;
    font-style: bold;
    font-size: 2.5vw;
    
}

.brands
{
    font-size: 1.5vw;
    padding-left: 1vw;
}

.small-brands-text 
{
    font-family: "Calibre-Light";
    font-size: 1vw;
    margin-left: -4vw;
}

.vertical-line1
    {
        background-color: #799DAB;
        width: 1px;
        height: 3.5vh;
        grid-column: 5;
        grid-row: 2;
        margin-top: 1vh;
        margin-left: -6vw;
    }

.countries-text 
{
  grid-area: 2/5/3/7;
  margin-left: -17vw;
}

.countries-text > h1
{
    font-family: "Calibre-Bold" ;
    font-weight: 700;
    font-style: bold;
    font-size: 2.5vw;
    
}

.countries
{
    font-size: 1.5vw;
    padding-left: 1vw;
}

.small-countries-text 
{
    font-family: "Calibre-Light";
    font-size: 1vw;
    margin-left: -3.5vw;
}

.vertical-line2
    {
        background-color: #799DAB;
        width: 1px;
        height: 12vh;
        grid-column: 7;
        grid-row: 2;
        margin-top: -4vh;
        margin-left: -10vw;
    }

.country-flags
{
    grid-area: 2/7/3/10;
    display: flex;
    margin-left: -7vw;
    gap: 1.7em;
}

.country-flags> img
{
    width: 100%;
    overflow-x: auto;
    height: 5vh;
    flex: 0 0 2.5em;
}

.japan-flag
{
    border: solid black 0.5px;
    border-radius: 90%;
}

.country-flags::-webkit-scrollbar
{
    
}

.country-flags::scroll-button(right){
    content: ">";
    border: none;
    background-color: white;
    color: #799DAB;
    font-size: 2.5vw;
    
}

.WhatWeBuildBox
{
font-family: "Calibre-Black";
background-color: #C7EAF8;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
padding: 13vw;
}

.WhatWeBuildBox-title
{
    color: #799DAB;
    font-family: "Calibre-Black";
    font-weight: 700;
    font-size: 5vw;
    letter-spacing: -0,5vw;
}

.WhatWeBuildBox-subtitle
{
    color: #799DAB;
    font-family: "Calibre-Regular";
    font-size: 1.8vw;
    letter-spacing: -0,2vw;
    margin-top: 1.5vh;
    margin-bottom: -0,5vh;
}

.white-circle1
{
    background-color: white;
    width: 10vw;
    height: 10vh;
    border-radius: 90%;
}

.circles-box > img
{
    width: 17vw;
    height: 31vh;
}

.circles-box
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 5rem;
    margin-top: 7vh;
}




















































/* FAQ PAGE */

.help-section-header {
    font-weight: bold;
    color:#C7EAF8; 
    max-width: 510px;
}

.help-section-slogan {
    color:#C7EAF8; 
}

.faq-questions-container {
    /* temporarily */
    margin-left: 300px; 
}

.faq-question {
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    max-width: 1000px;
    margin-bottom: 16px;
    transition: opacity 0.3s;
}

.faq-question:hover {
    opacity: 0.7;
}

.faq-text {
    font-size: 24px;
    margin: 32px 32px;
    max-width: 700px;
    line-height: 48px;
}

/* CONTACT US PAGE */

.contact-us-header-container {
    max-width: 325px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.contact-methods-downloads-container {
    max-width: 300px;
    margin-left: 64px
}

.contact-methods {
    margin-bottom: 96px
}

.contact-method {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.contact-method-icon {
    margin-right: 24px;
    height: 32px;
}

.contact-method-text {
    font-size: 18px;
    color: #799DAB;
}

.downloads {
    text-align: center;
    font-size: 24px;
}

.downloads-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #C7EAF8;
    border-radius: 50px;
    padding: 6px 6px;
}

.download-bold-text {
    font-size: 32px;
    font-weight: bold;
}

.download-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-option-text {
    font-size: 18px;
    font-weight: bold;
}

.download-icon {
    height: 24px;
    margin-right: 12px;
}

.vertical-divider {
    height: 24px;
    display: inline-block;
    border: 0.1px solid #C7EAF8;
    margin: 12px 12px;
}

