@font-face {
    font-family: "Calibre-Regular";
    src: url(fonts/fonts/Calibre-Regular.otf);
}

@font-face {
    font-family: "Calibre-Bold";
    src: url(fonts/fonts/Calibre-Bold.otf);
}

@font-face {
    font-family: "Calibre-Black";
    src: url(fonts/fonts/Calibre-Black.otf);
}

@font-face {
    font-family: "Calibre-Semibold";
    src: url(fonts/fonts/Calibre-Semibold.otf);
}

@font-face {
    font-family: "Calibre-Medium";
    src: url(fonts/fonts/Calibre-Medium.otf);
}

@font-face {
    font-family: "Calibre-Light";
    src: url(fonts/fonts/Calibre-Light.otf);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: Calibre-Regular;
    background-color: #C7EAF8;
    color: #799DAB;
}

.faq-header {
    font-family: Calibre-Black;
    font-size: 72px;
    margin-top: 48px;
    margin-bottom: 48px;
}

.faq-question {
    font-size: 32px;
    padding: 10px;
    outline: none;
    border: 1px solid #799DAB;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    max-width: 1000px;
    margin-bottom: 24px;
    transition: opacity 0.3s;
}

.faq-question:hover {
    opacity: 0.7;
}

.faq-text {
    font-size: 24px;
    margin: 32px 32px;
    max-width: 700px;
    line-height: 48px;
}